{% block ixp_about %}
<div class="marketing">
  <h4>Mission Statement</h4><p>

  <p>
  These are the corporate objectives of Moncton Internet Exchange:
  </p>

  <p>
  Benefiting New Brunswick's Internet community; Providing an electronic infrastructure 
  to allow for the exchange of New Brunswick based Internet traffic among New Brunswick 
  based ISPs (Internet Service Providers), NSPS (Network Service Providers), CSPS 
  (Content Service Providers) and other Internet users; Providing New Brunswick residents 
  with direct access to local internet content; and Increasing the transfer speed of 
  Internet communications between New Brunswick companies, friends, neighbors and family
  members.
  </p>
</div>

<div class="row-fluid marketing">
  <div class="span6">

    <h4>Who are the network operators?</h4><p>
    <ul>
      <li>Leon A. Morris
      <li>Jacques Latour
      <li>Uri Litvinenko
    </ul>

    <h4><a href='https://github.com/CIRALabs/IX-website'>IX-website</a>  development &amp; design:</h4>
    <ul>
      <li><a href='https://github.com/lstn '>Lucas Estienne</a> / CIRA Labs</li>
    </ul>

    <h4>Special Thanks</h4>
    <ul>
      <li>Theo de Raadt for his work on developing the original web template for YYCIX and inspiring the <a href='https://github.com/CIRALabs/IX-website'>IX-website</a> project.</li>
      <li><a href='https://tympanus.net/codrops/licensing/'>Phi Rhythmatus / Codrops </a> or the excellent free of charge &amp; use Bootstrap template used as a base for this. They do not require a link back or footer credits but they deserve a special thanks for making a neat bootstrap 3 theme!</li>
    </ul>

  </div>
</div>
{% endblock %}