{% block ixp_about %}
<div class="marketing">
  <h4>Mission Statement</h4><p>

  <p>
  These are the corporate objectives of Moncton Internet Exchange:
  </p>

  <p>
  Benefiting New Brunswick's Internet community; Providing an electronic infrastructure 
  to allow for the exchange of New Brunswick based Internet traffic among New Brunswick 
  based ISPs (Internet Service Providers), NSPS (Network Service Providers), CSPS 
  (Content Service Providers) and other Internet users; Providing New Brunswick residents 
  with direct access to local internet content; and Increasing the transfer speed of 
  Internet communications between New Brunswick companies, friends, neighbors and family
  members.
  </p>
</div>

<div class="row-fluid marketing">
  <div class="span6">

    <h4>Who are the network operators?</h4><p>
    <ul>
      <li>Leon A. Morris
      <li>Jacques Latour
      <li>Uri Litvinenko
    </ul>

    <h4>Special Thanks</h4>
    <ul>
      <li>YYCIX & Theo de Raadt for developing the original web template.</li>
    </ul>

  </div>
</div>
{% endblock %}