{% import '_macros_res_imports.html' as m_res_import with context %}

{% block ixp_locations %}
<div class="marketing">
  
  <h4><a href="{{ ix_pages.ix_locations.location_elem_1.url }}">{{ ix_pages.ix_locations.location_elem_1.title }}</a></h4>
  <ul>
    <li>{{ ix_pages.ix_locations.location_elem_1.address }}</li>
    <li>Facility contact: <a mailto="{{ ix_pages.ix_locations.location_elem_1.email }}">{{ ix_pages.ix_locations.location_elem_1.email }}</a></li>
  </ul>
  
  {%- if ix_pages.ix_locations.display_locations_map == true %}
  <center>
    {{ m_res_import.image(true, "ix-map.jpg", "Map of Internet Exchange Points") }}
  </center>
  {% endif -%}
</div>
{% endblock %}