{% block ixp_peers %}
<div class="marketing">

    <table class="sortable" border="0" cellpadding="2" cellspacing="1" width="100%">
        <thead><tr class="peers">
            <th align=left>Company</th>
            <th align=left>AS</th>
            <th align=left class='wide'>IPv4 /24</th>
            <th align=left class='wide'>IPv6 /64</th>
            <th align=left>Location</th>
            <th align=left>Speed</th>
            <th align=left>Policy</th>
        </tr></thead>
        <tbody><tr>
                
        </tr><tr>
                <td class="peer-table-company"><a href="http://www.blacksun.ca/">F6</a></td>
                <td class="peer-table-as">3367</td>
                <td class="peer-table-ipv4">206.71.137.6</td>
                <td class="peer-table-ipv6">2001:504:73:CAFE:60</td>
                <td class="peer-table-loc">IP</td>
                <td class="peer-table-speed">1G</td>
                <td class="peer-table-policy"><font color="#00aa00">installing</font></td>

        </tr><tr>
                <td class="peer-table-company"><a href="http://www.he.net/">Hurricane Electric</a></td>
                <td class="peer-table-as">6939</td>
                <td class="peer-table-ipv4">206.71.137.7</td>
                <td class="peer-table-ipv6">2001:504:73:CAFE:70</td>
                <td class="peer-table-loc">IP</td>
                <td class="peer-table-speed">10G</td>
                <td class="peer-table-policy"><font color="#00cc00">open IPv4 &amp; IPv6</font></td>
                
        </tr><tr>
                <td class="peer-table-company"><a href="http://www.pch.net/">Packet Clearing House</a></td>
                <td class="peer-table-as">42</td>
                <td class="peer-table-ipv4">206.71.137.4</td>
                <td class="peer-table-ipv6">2001:504:73:CAFE:40</td>
                <td class="peer-table-loc">IP</td>
                <td class="peer-table-speed">1G</td>
                <td class="peer-table-policy"><font color="#00aa00">installing</font></td>
                
        </tr><tr>
                <td class="peer-table-company"><a href="http://www.pch.net/">Packet Clearing House</a></td>
                <td class="peer-table-as">3856</td>
                <td class="peer-table-ipv4">206.71.137.5</td>
                <td class="peer-table-ipv6">2001:504:73:CAFE:50</td>
                <td class="peer-table-loc">IP</td>
                <td class="peer-table-speed">1G</td>
                <td class="peer-table-policy"><font color="#00aa00">installing</font></td>	
                
        </tr><tr>
                <td class="peer-table-company"><a href="http://www.teksavvy.com/">TekSavvy Solutions Inc</a></td>
                <td class="peer-table-as">5645</td>
                <td class="peer-table-ipv4">206.71.137.8</td>
                <td class="peer-table-ipv6">2001:504:73:CAFE:80</td>
                <td class="peer-table-loc">IP</td>
                <td class="peer-table-speed">10G</td>
                <td class="peer-table-policy"><font color="#009900">invited</font></td>	
                
        </tr><tr>
                <td class="peer-table-company"><a href="http://www.cira.ca/">CIRA</a></td>
                <td class="peer-table-as">55195</td>
                <td class="peer-table-ipv4">206.71.137.53</td>
                <td class="peer-table-ipv6">2001:504:73:CAFE:530</td>
                <td class="peer-table-loc">IP</td>
                <td class="peer-table-speed">1G</td>
                <td class="peer-table-policy"><font color="#009900">invited</font></td>	
                
        </tr><tr>
                <td class="peer-table-company"><a href="http://www.monctonix.ca/">IXP Route Server 1</a></td>
                <td class="peer-table-as">396029</td>
                <td class="peer-table-ipv4">206.71.137.2</td>
                <td class="peer-table-ipv6">2001:504:73:CAFE:20</td>
                <td class="peer-table-loc">IP</td>
                <td class="peer-table-speed">1G</td>
                <td class="peer-table-policy"><font color="#00cc00">open IPv4 &amp; IPv6</font></td>	

        </tr><tr>
                <td class="peer-table-company"><a href="http://www.teksavvy.com/">IXP Route Server 2</a></td>
                <td class="peer-table-as">396029</td>
                <td class="peer-table-ipv4">206.71.137.3</td>
                <td class="peer-table-ipv6">2001:504:73:CAFE:30</td>
                <td class="peer-table-loc">IP</td>
                <td class="peer-table-speed">1G</td>
                <td class="peer-table-policy"><font color="#00aa00">installing</font></td>		

        </tr></tbody>
    </table>
</div>
{% endblock %}