<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <title>YXEIX: Saskatoon Internet Exchange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 800px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 20px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.html">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.html">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.html">
                                   <link rel="shortcut icon" href="ico/favicon.ico">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li class="active"><a href="news.html">News</a></li>
          <li><a href="locations.html">Locations</a></li>
          <li><a href="peers.html">Peers</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="links.html">Links</a></li>
        </ul>
        <h3 class="muted">YXEIX</h3>
        <hr>
      </div>

      <div class="marketing">
      <h4>Progress Report (recent items first)</h4>
      <ul>
	  <li>
      Dec 19, 2017 - YXEIX goes live with 7th Peer, TekSavvy Solutions
      <p>
	  <li>
      Oct 23, 2017 - YXEIX goes live with 6th Peer, BlackSun
      <p>
	  <li>
      Sept 18, 2017 - YXEIX goes live with 5th Peer, Packet Clearing House
      <p>
	  <li>
      Sept 5, 2017 - YXEIX goes live with 4th Peer, Stafford Communications
      <p>
	  <li>
      Aug 3, 2017 - YXEIX goes live with 3rd Peer, Hurricane Electric
      <p>
      <li>
	  Jul 18, 2017 - YXEIX goes live with 2nd Peer, VDC Virtual Data Corp
      <p>
	  <li>
      Jul 12, 2017 - YXEIX goes live with 1st Peer, Innovation Place
      <p>
	  <li>
      Jun 7, 2017 - YXEIX takes possession of 1st location at 121 Research Drive, Saskatoon, SK. 
      <p>
	  <li>
      Apr 7, 2017 - YXEIX Boards approves bylaws. 
      <p>	  
	  <li>
      Jan 23, 2017 - Saskatoon Internet Exchange Inc. is incorporated Federally under the 
	  Canada Not-for-profit Corporations Act (NFP Act), with initial directors Cole Thompson,
      Ian Perry, Jason Dunk, Robert Kinloch and Rock Chantigny.<br>
      We will operate as YXEIX and Saskatoon Internet Exchange.
      <p>
      <li>
      Dec 13, 2016 - A Town Hall meeting was held in Saskatoon for the purposes of starting an internet exchange in Saskatoon. 
      <p>
      </ul>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>

  </body>

</html>
