<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <title>YXEIX: Saskatoon Internet Exchange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 800px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 20px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.html">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.html">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.html">
                                   <link rel="shortcut icon" href="ico/favicon.ico">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="locations.html">Locations</a></li>
          <li class="active"><a href="peers.html">Peers</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="links.html">Links</a></li>
        </ul>
        <h3 class="muted">YXEIX</h3>
        <hr>
      </div>

      <div class="marketing">

        <table class="sortable" border="0" cellpadding="2" cellspacing="1" width="100%">
        <thead><tr class="peers">
            <th align=left>Company</th>
            <th align=left>AS</th>
            <th align=left class='wide'>IPv4 /24</th>
            <th align=left class='wide'>IPv6 /64</th>
            <th align=left>Location</th>
            <th align=left>Speed</th>
            <th align=left>Policy</th>
        </tr></thead>
        <tbody><tr>
			  
		</tr><tr>
			  <td><a href="http://www.blacksun.ca/">BlackSun</a></td>
			  <td>20218</td>
			  <td>206.71.11.13</td>
			  <td>2001:504:69:8000::300</td>
			  <td>IP</td>
			  <td>1G</td>
			  <td><font color="#009900">open</font></td>
		
		</tr><tr>
			  <td><a href="http://www.flexnetworks.ca/">BH Telecom Corp / FlexNetworks</a></td>
			  <td>19523</td>
			  <td>TBA</td>
			  <td>TBA</td>
			  <td>IP</td>
			  <td>10G</td>
			  <td><font color="#009900">coming soon</font></td>		
			  
		</tr><tr>
			  <td><a href="http://www.cira.ca/">CIRA</a></td>
			  <td>55195</td>
			  <td>TBA</td>
			  <td>TBA</td>
			  <td>IP</td>
			  <td>1G</td>
			  <td><font color="#009900">not active</font></td>
			  
 		</tr><tr>
			  <td><a href="http://www.saskatoon.ca/">City of Saskatoon</a></td>
			  <td>394366</td>
			  <td>TBA</td>
			  <td>TBA</td>
			  <td>IP</td>
			  <td>10G</td>
			  <td><font color="#009900">coming soon</font></td>		
			  
 		</tr><tr>
			  <td><a href="http://www.he.net/">Hurricane Electric</a></td>
			  <td>6939</td>
			  <td>206.71.11.15</td>
			  <td>2001:504:69:8000::400</td>
			  <td>IP</td>
			  <td>10G</td>
			  <td><font color="#009900">open</font></td>
			  
		</tr><tr>
			  <td><a href="http://www.innovationplace.com/">Innovation Place</a></td>
			  <td>27628</td>
			  <td>206.71.11.11</td>
			  <td>2001:504:69:8000::100</td>
			  <td>IP</td>
			  <td>1G</td>
			  <td><font color="#009900">open</font></td> 
			  
		</tr><tr>
			  <td><a href="http://www.pch.net">Packet Clearing House</a></td>
			  <td>42</td>
			  <td>206.71.11.16</td>
			  <td>2001:504:69:8000::600</td>
			  <td>IP</td>
			  <td>1G</td>
			  <td><font color="#009900">open</font></td>

		</tr><tr>
			  <td><a href="http://www.pch.net/">Packet Clearing House</a></td>
			  <td>3856</td>
			  <td>206.71.11.17</td>
			  <td>2001:504:69:8000::601</td>
			  <td>IP</td>
			  <td>1G</td>
			  <td><font color="#009900">open</font></td>	

		</tr><tr>
			  <td><a href="http://www.potashcorp.com/">Potash Corporation of Saskatchewan Inc</a></td>
			  <td>393891</td>
			  <td>TBA</td>
			  <td>TBA</td>
			  <td>TBA</td>
			  <td>1G</td>
			  <td><font color="#009900">not active</font></td>				  
			  
		  </tr><tr>
            <td><a href="http://www.redbirdcommunications.ca/">Redbird Communications Inc</a></td>
            <td>54980</td>
            <td>TBA</td>
			<td>TBA</td>
			<td>TBA</td>
			<td>1G</td>
            <td><font color="#009900">not active</font></td>
			  
	      </tr><tr>
			<td><a href="http://www.spsd.sk.ca/">Saskatoon Board of Education</a></td>
            <td>TBA</td>
            <td>TBA</td>
            <td>TBA</td>
			<td>TBA</td>
			<td>1G</td>
            <td><font color="#009900">not active</font></td>
			
		   </tr><tr>
			<td><a href="http://srnet.ca/">Saskatchewan Research Network (SRNet)</a></td>
            <td>26806</td>
            <td>TBA</td>
            <td>TBA</td>
			<td>IP</td>
			<td>1G</td>
            <td><font color="#009900">coming soon</font></td>
			
	      </tr><tr>
			<td><a href="http://www.staffcomm.com/">Stafford Communications</a></td>
            <td>10980</td>
            <td>206.71.11.14</td>
            <td>2001:504:69:8000::500</td>
			<td>IP</td>
			<td>1G</td>
            <td><font color="#009900">open</font></td>
			
	      </tr><tr>
			<td><a href="https://teksavvy.com/">TekSavvy Solutions Inc</a></td>
            <td>5645</td>
            <td>206.71.11.18</td>
            <td>2001:504:69:8000::700</td>
			<td>IP</td>
			<td>10G</td>
            <td><font color="#009900">conditional</font></td>
			
		  </tr><tr>
			<td><a href="http://www.virtualdata.com/">VDC Virtual Data Corp</a></td>
            <td>55017</td>
            <td>206.71.11.12</td>
            <td>2001:504:69:8000::200</td>
			<td>IP</td>
			<td>1G</td>
              <td><font color="#009900">open</font></td>
			  
		  </tr><tr>
            <td><a href="http://www.yxeix.ca/">YXEIX route server 1</a></td>
            <td>396029</td>
            <td>206.71.11.1</td>
            <td>2001:504:69:8000::1</td>
			<td>IP</td>
			<td>1G</td>
            <td><font color="#009900">active</font></td>
			  
          </tr><tr>
            <td><a href="http://www.yxeix.ca/">YXEIX route server 2</a></td>
            <td>396029</td>
            <td>206.71.11.2</td>
            <td>2001:504:69:8000::2</td>
			<td>IP</td>
			<td>1G</td>
            <td><font color="#009900">active</font></td>
            
			</tr>
          </tbody>
        </table>
      </div>
      If you <a href="faq.html">own AS/IP
      resources</a> and are interested in peering, drop us a note at
      <a href="mailto:peering@yxeix.ca">peering@yxeix.ca</a>.
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script src="js/bootstrap-sorttable.js"></script>

  </body>

</html>
