{% import '_macros_res_imports.html' as m_res_import with context %}

{%- if ix.layout_version != 2 -%} {# LOAD VERSION 1 NAVBAR #}
  <div id="ix-navmenu" class="masthead">
    <ul class="nav nav-pills pull-right">
      <li id="menu-li-home" class="menu-li">
        <a id="menu-btn-home" href="#home">Home</a>
      </li>
      <li id="menu-li-about" class="menu-li">
        <a id="menu-btn-about" href="#about">About</a>
      </li>
      <li id="menu-li-news" class="menu-li">
        <a id="menu-btn-news" href="#news">News</a>
      </li>
      <li id="menu-li-locations" class="menu-li">
        <a id="menu-btn-locations" href="#locations">Locations</a>
      </li>
      <li id="menu-li-peers" class="menu-li">
        <a id="menu-btn-peers" href="#peers">Peers</a>
      </li>
      <li id="menu-li-faq" class="menu-li">
        <a id="menu-btn-faq" href="#faq">FAQ</a>
      </li>
      <li id="menu-li-links" class="menu-li">
        <a id="menu-btn-links" href="#links">Links</a>
      </li>
    </ul>
    {% if ix.use_logo %}
      {{ m_res_import.image(true, "img/logo.png", ix.shortname, "ix-logo") }}
    {% else %}
      <h3 class="muted">{{ ix.shortname }}</h3>
    {% endif %}
    <hr>
  </div>
{%- else -%} {# LOAD NEW NAVBAR MENU #}
  <nav id="ix-nav" class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
        </button>
        {% if ix.use_logo %}
				  <a class="navbar-brand" href="#">{{ m_res_import.image(true, "img/logo.png", ix.shortname, "ix-logo", "img/logo.png") }}</a>
        {% else %}
          <a class="navbar-brand" href="#"><h3 class="muted">{{ ix.shortname }}</h3></a>
        {% endif %}
       </div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse ix-navbar" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">
          <li id="menu-li-home" class="menu-li menu-li-home">
            <a id="menu-btn-home" class="menu-btn-home" href="#home">Home</a>
          </li>
          <li id="menu-li-about" class="menu-li menu-li-about">
            <a id="menu-btn-about" class="menu-btn-about" href="#about">About</a>
          </li>
          <li id="menu-li-news" class="menu-li menu-li-news">
            <a id="menu-btn-news" class="menu-btn-news" href="#news">News</a>
          </li>
          <li id="menu-li-locations" class="menu-li menu-li-locations">
            <a id="menu-btn-locations" class="menu-btn-locations" href="#locations">Locations</a>
          </li>
          <li id="menu-li-peers" class="menu-li menu-li-peers">
            <a id="menu-btn-peers" class="menu-btn-peers" href="#peers">Peers</a>
          </li>
          <li id="menu-li-faq" class="menu-li menu-li-faq">
            <a id="menu-btn-faq" class="menu-btn-faq" href="#faq">FAQ</a>
          </li>
          <li id="menu-li-links" class="menu-li menu-li-links" >
            <a id="menu-btn-links" class="menu-btn-links" href="#links">Links</a>
          </li>
        </ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
{%- endif -%}