<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="active">
      <a href="#">Home</a>
    </li>
    <li>
      <a href="/about.html">About</a>
    </li>
    <li>
      <a href="/news.html">News</a>
    </li>
    <li>
      <a href="/locations.html">Locations</a>
    </li>
    <li>
      <a href="/peers.html">Peers</a>
    </li>
    <li>
      <a href="/faq.html">FAQ</a>
    </li>
    <li>
      <a href="/links.html">Links</a>
    </li>
  </ul>
  <h3 class="muted">{{ ix.shortname }}</h3>
  <hr>
</div>